<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's Up ? </title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- CSS Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12" style="margin-top: 50px;">
        <span class="flow-text">WHAT'S UP ?</span>
      </div>
    </div>

    <div class="row">

      <div class="col s4">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">
            <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" alt="Person" class="circle responsive-img" style="height: 60px;">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="calls.html">Calls</a></li>
              <li><a href="texts.html">Texts</a></li>
              <li><a href="contact.html">Contacts</a></li>
            </ul>
          </div>
        </nav>
        <div class="collection">
          <a href="#!" class="collection-item"><span class="badge">4</span>Username</a>
          <a href="#!" class="collection-item"><span class="badge">1</span>Username</a>
          <a href="#!" class="collection-item">Username</a>
          <a href="#!" class="collection-item">Username</a>
        </div>
      </div>

      <div class="col s8">

        <div class="page">
              <div class="chat">
                <div class="chat-container">
                  <div class="user-bar">
                    <div class="avatar">
                      <img src="https://pbs.twimg.com/profile_images/784543086017929217/A0sauth-.jpg" alt="Avatar">
                    </div>
                    <div class="name">
                      <span>Angelina Jolie</span>
                      <span class="status">online</span>
                    </div>
                    <div class="actions more">
                      <i class="zmdi zmdi-more-vert"></i>
                    </div>
                    <div class="actions attachment">
                      <i class="zmdi zmdi-attachment-alt"></i>
                    </div>
                    <div class="actions">
                      <i class="zmdi zmdi-phone"></i>
                    </div>
                  </div>
                  <div class="conversation" >
                    <section class="conversation-container" id="zone_chat">



                    </section>


                    <form class="conversation-compose" action="/" method="post" id="formulaire_chat">
                      <div class="emoji">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z" fill="#7d8489"/></svg>
                      </div>
                      <input class="input-msg"  name="message" id="message" placeholder="Votre message..." size="50" autocomplete="off" autofocus />
                      <bouton class="send" type="submit" id="envoi_message" value="Envoyer"><div class="circle "><i class="zmdi zmdi-mail-send"></i>
                      </div> </bouton>
                    </form>

                  </div>
                </div>
              </div>

        </div>


      </div>
    </div>


  </div>

  <!--  JavaScript Materialize-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>

    var socket = io.connect('http://localhost:8000');

    var pseudo = prompt('Quel est votre pseudo ?');
    socket.emit('nouveau_client', pseudo);
    document.title = pseudo + ' - ' + document.title;



    socket.on('message', function(data) {
      insereMessage(data.pseudo, data.message)

    })


    socket.on('nouveau_client', function(pseudo) {
      $('#zone_chat').prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
    })


    $('#formulaire_chat').submit(function () {
      var message = $('#message').val();

      socket.emit('message', message);
      insereMessage(pseudo, message);
      $('#message').val('').focus();

      return false;
    });



    function insereMessage(pseudo, message) {

      $('#zone_chat').prepend('<p><strong>' + pseudo + '</strong> ' + message /*+ '<span class="metadata">' +
      '<span class="time">' + moment().format('h:mm A') + '</span>' +
      '<span class="tick tick-animation">'+'</span>'+'</span>' +'</p>'*/);

    }



  </script>
</body>


</html>
